{% extends '::base.html.twig' %}
{% block body %}
    <table border="1">
        <tr>
            <th>Rib</th>
            <th>Solde</th>
            <th>Action</th>
        </tr>

        {% for compte in comptes %}
            <tr>
                <td>{{ compte.rib }}</td>
                <td>{{ compte.solde }}</td>
                <td>
                    <a href="{{ path('getOperationsByCompte' , {id : compte.id}) }}" title="Détail">Détail</a>
                    <a href="{{ path('versModifierCompte' , {id : compte.id}) }}" title="Modifier">Modifier</a>
                    <a href="{{ path('supprimerCompte' , {id : compte.id}) }}" title="Supprimer">Supprimer</a>
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}